In [1]:
from __future__ import print_function, division
import pickle
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen
import pandas as pd
import numpy as np

In [2]:
import requests

requests.__path__

['/anaconda3/envs/metis/lib/python3.6/site-packages/requests']

In [3]:
url = "https://www.cnbc.com/2019/07/16/cnbc-make-it-the-top-50-us-colleges-that-pay-off-the-most-2019.html"

req = Request(url,headers ={'User-Agent': 'Mozilla/5.0'})

In [4]:
webpage = urlopen(req).read()

In [5]:
page_soup = soup(webpage, "html.parser")

In [6]:
page_soup.p

In [7]:
#grabs each college
rank = page_soup.findAll("h2",{"class":"ArticleBody-styles-makeit-subtitle--363ca"})

In [8]:
len(rank)

52

In [9]:
INSTNM = []

for i in range(1, len(rank)):
    INSTNM.append(rank[i].text.split('. ')[-1])

In [10]:
INSTNM

['Stanford University',
 'Princeton University',
 'University of Chicago',
 'California Institute of Technology',
 'Harvard University',
 'Yale University',
 'Columbia University',
 'Massachusetts Institute of Technology',
 'Pomona College',
 'Duke University',
 'Washington and Lee University',
 'Vanderbilt University',
 'Dartmouth College',
 'Olin College of Engineering',
 'Rice University',
 'Williams College',
 'University of Pennsylvania',
 'Bowdoin College',
 'Webb Institute',
 'Brown University',
 'Haverford College',
 'Swarthmore College',
 'The Cooper Union for the Advancement of Science and Art',
 'Bates College',
 'Wesleyan University',
 'The top 25 public universities',
 'University of Washington, Seattle',
 'University of Washington, Bothell',
 'Massachusetts Maritime Academy',
 'University of Michigan, Ann Arbor',
 'Georgia Institute of Technology, Atlanta',
 'Purdue University, West Lafayette',
 'William & Mary',
 'Michigan Technological University',
 'University of California, Los Angeles',
 'Baruch College',
 'University of California, San Diego',
 'University of California, Riverside',
 'New Mexico Institute of Mining and Technology',
 'Missouri University of Science and Technology',
 'University of California, Irvine',
 'Montana Tech',
 'California State University Maritime Academy (tie)',
 'University of Virginia, Charlottesville (tie)',
 'University of California, Santa Barbara',
 'California State Polytechnic University, Pomona',
 'University of California, Davis',
 'North Carolina State University, Raleigh',
 'SUNY Maritime College',
 'University of Delaware, Newark',
 'University of California, Berkeley']

In [11]:
private_ranks = []

for i in range(1, 26):
    private_ranks.append(rank[i].text.split('. ')[-1])
    
public_ranks = []

for i in range(27, len(rank)):
    public_ranks.append(rank[i].text.split('. ')[-1])

In [12]:
list(zip(private_ranks, public_ranks))

[('Stanford University', 'University of Washington, Seattle'),
 ('Princeton University', 'University of Washington, Bothell'),
 ('University of Chicago', 'Massachusetts Maritime Academy'),
 ('California Institute of Technology', 'University of Michigan, Ann Arbor'),
 ('Harvard University', 'Georgia Institute of Technology, Atlanta'),
 ('Yale University', 'Purdue University, West Lafayette'),
 ('Columbia University', 'William & Mary'),
 ('Massachusetts Institute of Technology',
  'Michigan Technological University'),
 ('Pomona College', 'University of California, Los Angeles'),
 ('Duke University', 'Baruch College'),
 ('Washington and Lee University', 'University of California, San Diego'),
 ('Vanderbilt University', 'University of California, Riverside'),
 ('Dartmouth College', 'New Mexico Institute of Mining and Technology'),
 ('Olin College of Engineering',
  'Missouri University of Science and Technology'),
 ('Rice University', 'University of California, Irvine'),
 ('Williams College', 'Montana Tech'),
 ('University of Pennsylvania',
  'California State University Maritime Academy (tie)'),
 ('Bowdoin College', 'University of Virginia, Charlottesville (tie)'),
 ('Webb Institute', 'University of California, Santa Barbara'),
 ('Brown University', 'California State Polytechnic University, Pomona'),
 ('Haverford College', 'University of California, Davis'),
 ('Swarthmore College', 'North Carolina State University, Raleigh'),
 ('The Cooper Union for the Advancement of Science and Art',
  'SUNY Maritime College'),
 ('Bates College', 'University of Delaware, Newark'),
 ('Wesleyan University', 'University of California, Berkeley')]

In [17]:
my_df = pd.DataFrame(INSTNM, columns = ['INSTNM'])

In [18]:
my_df['top_50'] = '1'

In [19]:
my_df.head()

                               INSTNM top_50
0                 Stanford University      1
1                Princeton University      1
2               University of Chicago      1
3  California Institute of Technology      1
4                  Harvard University      1

In [20]:
my_df.to_csv('top_50.csv', index=False, header=True)